doctype html
html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    .wrapper
      ul.program_list
        each program in locals.data
          li.episode(audio="#{program.audio_download}")
            -if (program.feed_type === 'audio/podcast')
              .img_container
                img(src="#{program.image_url}")
                .img_overlay
                  i.fa.fa-play.audio_icon
              .program_content
                .program_title #{program.title}
                .program_date #{program.disp_date}
            -else
              .video_img_container(link="#{program.video_link}")
                img(src="#{program.image_url}")
                .video_img_overlay
                  i.fa.fa-play-circle-o
            //- iframe(src="#{program.video_link}" frameborder="0" allowfullscreen)
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")        
      script(type="text/javascript" src="/scripts/script.js")
